@media (min-width:320px) and (max-width:575px) {
    .header__rightpart {
        text-align: center;
    }
    .header__rightpart ul {
        display: none;
    }
    .header__leftpart{
        display: none;
    }
    .burger-menu{
        display: inline-block;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 0;
    }
    .nav__searchbox {
        display: none;
    }
    .nav__rightpart a {
        display: none;
    }
    .nav__logo{
        text-align: center;
        position: relative;
    }
    #menu{
        display: none;
    }
    #banner{
        background-size: 500px;
        height: 156px;
    }
    #hamburger-menu{
        display: block;
    }
}
@media (min-width:576px) and (max-width:767px) {
    .header__rightpart {
        text-align: center;
    }
    .header__rightpart ul {
        display: none;
    }
    .header__leftpart{
        display: none;
    }
    .burger-menu{
        display: inline-block;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 0;
    }
    .nav__searchbox {
        display: none;
    }
    .nav__rightpart a {
        display: none;
    }
    .nav__logo {
        text-align: center;
        position: relative;
    }
    #menu{
        display: none;
    }
    #banner{
        background-size: 100%;
        height: 156px;
    }
    #hamburger-menu{
        display: block;
    }
}
@media (min-width:768px) and (max-width:991px) {
    .header__rightpart {
        text-align: center;
    }
    .header__rightpart ul {
        display: none;
    }
    .header__leftpart{
        display: none;
    }
    .burger-menu{
        display: inline-block;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 0;
    }
    .nav__searchbox {
        display: none;
    }
    .nav__rightpart a {
        display: none;
    }
    .nav__logo {
        text-align: center;
        position: relative;
    }
    #menu{
        display: none;
    }

    #hamburger-menu{
        display: block;
    }
}
@media (min-width:992px) and (max-width:1199px) {
    #hamburger-menu{
        display: none;
    }
    .header__leftpart ul li a {
        padding: 10px 8px;
    }
    .header__rightpart ul {
        display: none;
    }
    .nav__searchbox input {
        width: 441px;
    }
    .nav__searchicon {
        right: 30px;
    }
    .nav__categoryselection {
        right: 60px;
    }
    .nav__rightpart {
        margin-left: -20px;
    }
    .nav__cart {
        top: -50px;
        left: 168px;
    }
    #menu {
        margin-top: -50px;
    }
    .menu__dropdown {
        height: 493px;
        left: 207px;
        top: 1px;
    }
    .menu__item1 .fa-chevron-down {
        margin-left: 11px;
    }
}
@media (min-width:1200px) and (max-width:1399px) {
    #hamburger-menu{
        display: none;
    }
    .menu__dropdown {
        height: 492px;
        left: 247px;
        top: 1px;
    }
    .menu__item1 .fa-chevron-down {
        margin-left: 47px;
    }
}
@media (min-width:1400px){
    #hamburger-menu{
        display: none;
    }
    .nav__searchbox input {
        width: 592px;
    }
    .menu__item1 .fa-chevron-down {
        margin-left: 86px;
    }
    .menu__dropdown {
        top: 1px;
        left: 287px;
        height: 493px;
    }
}